
cmake-build-debug-mingw/Testing/Temporary/LastTest.log
*.log
cmake-build-debug-mingw/.ninja_log
cmake-build-debug-mingw/.ninja_log
cmake-build-debug-mingw/CMakeFiles/Hospitals.dir/main.cpp.obj
*.log
cmake-build-debug-mingw/CMakeFiles/Hospitals.dir/scr/window.cpp.obj
cmake-build-debug-mingw/CMakeFiles/Hospitals.dir/scr/structures.cpp.obj
cmake-build-debug-mingw/.ninja_deps
cmake-build-debug-mingw/.ninja_log
*.obj
cmake-build-debug-mingw/CMakeFiles/Hospitals.dir/scr/tabu.cpp.obj
cmake-build-debug-mingw/Hospitals.exe
cmake-build-debug-mingw/Testing/Temporary/LastTest.log
*.log
*.exe
*.obj
cmake-build-debug-mingw/.ninja_log
cmake-build-debug-mingw/.ninja_deps
cmake-build-debug-mingw/.ninja_deps
cmake-build-debug-mingw/.ninja_deps
cmake-build-debug-mingw/.ninja_log
cmake-build-debug-mingw/CMakeFiles/Hospitals.dir/scr/tabu.cpp.obj
*.exe
*.log
*.obj
*.obj
cmake-build-debug-mingw/.ninja_log
cmake-build-debug-mingw/.ninja_deps

cmake-build-debug/
GUI/venv
GUI/.idea
.Rhistory

GUI/wyniki.json

GUI/dane.json
.idea/workspace.xml
*.xml
*.obj
*.log
